<turbo-stream action="update" target="person_details">
  <template>
    <turbo-frame id="quote_123">
      <div style="text-align: center;">
        <h4>Title:- <%= @person.detail.title %></h4>
        <h4>Age:- <%= @person.detail.age %></h4>
        <h4>Phone:- <%= @person.detail.phone %></h4>
        <h4>Email:- <%= @person.detail.email %></h4>
      </div>
    </turbo-frame>
  </template>
</turbo-stream>
